<include file="Public/header" />

<include file="Public/navLeft" />
<ol class="breadcrumb">
    <li><a href="{:U('Index/index')}">主页</a></li>
    <li>会员地址管理</li>
    <li class="active">会员地址列表</li>
    <div class="quit">
        <span type="button" >管理员:毛何远</span>
        <a href="#">[退出]</a>
    </div>
</ol>

<nav class="navbar navbar-default">
    <div class="container-fluid pdl0">
        <div class="collapse navbar-collapse pdl0" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left pdl2">

                <div class="form-group">
                    <input type="text" class="Wdate form-control  laydate-icon " placeholder="开始时间"
                           onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" name="startTime" value="{$request['startTime']}">
                </div>
                <div class="form-group">
                    <input type="text" class="Wdate form-control  laydate-icon " placeholder="结束时间"
                           onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" name="endTime" value="{$request['endTime']}">
                </div>
                <div class="form-group">
                    <select name="limit" class="form-control">
                        <option value=""  >请选择</option>
                        <option value="20" <if condition="$request['limit'] eq 20 ">selected</if> >20条</option>
                        <option value="30" <if condition="$request['limit'] eq 30 ">selected</if> >30条</option>
                        <option value="50" <if condition="$request['limit'] eq 50 ">selected</if> >50条</option>
                    </select>

                </div>
                <div class="form-group">
                    <select name="key" class="form-control">
                        <option value="">请选择</option>
                        <option value="maddress_consignee_name"     <if condition="$request['key'] eq 'maddress_consignee_name' ">selected</if>  >收货人名称</option>
                        <option value="maddress_consignee_mobile" <if condition="$request['key'] eq 'maddress_consignee_mobile' ">selected</if>>会员手机号</option>
                    </select>

                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="content" placeholder="内容" value="{$request['content']}">
                </div>
                <button type="submit" name="submit" value="submit" class="btn btn-primary">查找</button>
                <button id="reset" type="button" class="btn btn-default">重置</button>
                <button type="submit" name="submit" value="export" class="btn btn-default">导出</button>
                <a  href="" class="btn btn-primary"><i class="fa fa-refresh" aria-hidden="true"></i></a>
            </form>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="ml5">
    <table class="table table-bordered table-hover ">
        <thead>
        <tr class="info">
            <th><input id="select-all" type="checkbox"></th>
            <th >编号ID</th>
            <th>会员名称</th>
            <th>地址</th>
            <th >收货人名称</th>
            <th >收货人手机</th>
            <th >是否默认地址</th>
            <th>新增时间</th>
            <th>修改时间</th>
           <!-- <th>操作</th>-->
        </tr>
        </thead>
        <tbody>
            <volist name="list" id="vo">
                <tr id="row{$vo['member_id']}">
                    <td><input  type="checkbox"></td>
                    <td>{$vo["maddress_id"]}</td>
                    <td>{$vo["maddress_member_id_name"]}</td>
                    <td>{$vo["maddress_province_id_name"]}-{$vo["maddress_city_id_name"]}-{$vo["maddress_area_id_name"]}-{$vo["maddress_consignee_address"]}</td>
                    <td>{$vo["maddress_consignee_name"]}</td>
                    <td>{$vo["maddress_consignee_mobile"]}</td>
                    <td>{$vo["maddress_default_name"]}</td>
                    <td>{$vo["maddress_add_time_name"]}</td>
                    <td>{$vo["maddress_edit_time_name"]}</td>
                  <!--  <td>
                        <a  class="btn btn-warning  btn-sm update" title="会员修改" data-url="{:U('member/update')}?member_id={$vo['member_id']}"><i class="fa fa-edit" aria-hidden="true"></i> </a>
                        <a  class="btn btn-danger   btn-sm delete"  title="会员删除" data-id="{$vo['member_id']}" data-url="{:U('member/delete')}?member_id={$vo['member_id']}"> <i class="fa fa-trash-o fa-lg"></i></a>
                    </td>-->
                </tr>
            </volist>
        </tbody>
    </table>
    <nav class="Page textRight" aria-label="Page navigation">
        {$page}
    </nav>
</div>
<script type="application/javascript">
    (function($){
        $("#reset").click(function(){
            $('input[name="startTime"]').attr('value',"");
            $('input[name="endTime"]').attr('value',"");
            $('select[name="limit"] option').each(function(){
                    $(this).removeAttr("selected");
            });
            $('select[name="key"] option').each(function(){
                    $(this).removeAttr("selected");
            });
            $('input[name="content"]').attr('value',"");
        });
    })(jQuery)
</script>
<include file="Public/footer" />