<div  class="navLeftBar">
    <div  class="list-group ">
        <a class="list-group-item  web_log"><img src="__PUBLIC__/Admin/image/web_login.png" width="400%"></a>
    </div>
    <div  class="list-group">
   <!--     <a class="list-group-item part-line " href="{:U('Index/index')}">
            <i class="fa fa-reorder pd5" aria-hidden="true"></i> 仪表盘
        </a>-->
        <a class="list-group-item part-line" href="{:U('Index/index')}">
            <i class="fa fa-user pd5" aria-hidden="true"></i>我的首页
        </a>

        <a class="list-group-item " href="{:U('Member/index')}">
            <i class="fa fa-user pd5" aria-hidden="true"></i>会员管理
        </a>

        <a class="list-group-item " href="{:U('Order/index')}">
            <i class="fa fa-reorder pd5" aria-hidden="true"></i>订单管理
        </a>
        <a class="list-group-item" href="{:U('Category/index')}">
            <i class="fa fa-tasks pd5" aria-hidden="true"></i>商品分类
        </a>
        <a class="list-group-item" href="{:U('Goods/index')}">
            <i class="fa fa-tasks pd5" aria-hidden="true"></i>商品管理
        </a>


        <a class="list-group-item" href="{:U('Area/index')}">
            <i class="fa fa-user pd5" aria-hidden="true"></i>地区管理
        </a>
        <a class="list-group-item" href="{:U('MemberAddress/index')}">
            <i class="fa fa-user pd5" aria-hidden="true"></i>地址管理
        </a>
        <a class="list-group-item" href="{:U('Banner/index')}">
            <i class="fa fa-user pd5" aria-hidden="true"></i>轮播管理
        </a>

        <a class="list-group-item" href="{:U('Config/index')}">
            <i class="fa fa-user pd5" aria-hidden="true"></i>常用设置
        </a>
        <a class="list-group-item" href="{:U('chart/index')}">
            <i class="fa fa-user pd5" aria-hidden="true"></i>统计管理
        </a>

    </div >

    <ul class="list-group">
        <li class="list-group-item ">
            <i class="fa fa-user" aria-hidden="true"></i> 我的中心
        </li>
    </ul>
</div>
