<include file="Public/header" />

<include file="Public/navLeft" />
<ol class="breadcrumb">
    <li>主页</li>
    <li>商品管理</li>
    <li class="active">商品列表</li>
    <div class="quit">
        <span type="button" >管理员:毛何远</span>
        <a href="#">[退出]</a>
        <a type="button" href="" class="btn btn-primary"><i class="fa fa-refresh" aria-hidden="true"></i></a>
    </div>
</ol>

<nav class="navbar navbar-default">
    <div class="container-fluid pdl0">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pdl0" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left pdl2">

                <div class="btn-group form-group" >
                    <!-- Standard button -->
                    <button type="button" class="btn btn-primary create" title="商品新增" data-url="{:U('Goods/add')}"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <!-- <button type="button" class="btn btn-warning edit"><i class="fa fa-edit" aria-hidden="true"></i></button>
                     &lt;!&ndash; Indicates a successful or positive action &ndash;&gt;
                     <button type="button" class="btn btn-danger"> <i class="fa fa-trash-o fa-lg"></i></button>-->

                </div>

           <!--     <div class="form-group">
                    <select name="timeType" class="form-control">
                        <option value="add_time"     <if condition="$request['key'] eq 'add_time' ">selected</if>  >新增时间</option>
                        <option value="send_time"   <if condition="$request['key'] eq 'send_time' ">selected</if> >发布时间</option>
                    </select>

                </div>-->
                <div class="form-group">
                    <input type="text" class="form-control laydate-icon" placeholder="开始时间"
                           onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" name="startTime" value="{$request['startTime']}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control laydate-icon" placeholder="结束时间"
                           onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" name="endTime" value="{$request['endTime']}">
                </div>
                <div class="form-group">
                    <select name="limit" class="form-control">
                        <option value=""  >请选择</option>
                        <option value="20" <if condition="$request['limit'] eq 20 ">selected</if> >20条</option>
                        <option value="30" <if condition="$request['limit'] eq 30 ">selected</if> >30条</option>
                        <option value="50" <if condition="$request['limit'] eq 50 ">selected</if> >50条</option>
                    </select>

                </div>
                <div class="form-group">
                    <select name="key" class="form-control">
                        <option value="">请选择</option>
                        <option value="goods_id"     <if condition="$request['key'] eq 'goods_id' ">selected</if>  >商品编号</option>
                        <option value="goods_name"   <if condition="$request['key'] eq 'goods_name' ">selected</if> >商品名称</option>
                        <option value="category_name" <if condition="$request['key'] eq 'category_name' ">selected</if>>分类名称</option>
                    </select>

                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="content" placeholder="内容" value="{$request['content']}">
                </div>
                <button type="submit" name="submit" value="submit" class="btn btn-primary">查找</button>
                <button id="reset" type="button" class="btn btn-default">重置</button>
                <button type="submit" name="submit" value="export" class="btn btn-default">导出</button>
            </form>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="ml5">
    <table class="table table-bordered table-hover ">
        <thead>
        <tr class="info">
            <th >编号</th>
            <th>商品名称</th>
            <th>分类名称</th>
            <th >规格名称</th>
            <th >默认图片</th>
            <th >商品货号</th>
            <th>商品状态</th>
            <th>商品推荐</th>
            <th>发布时间</th>
            <th>新增时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            <volist name="list" id="vo">
                <tr id="row{$vo['goods_id']}">
                    <td>{$vo["goods_id"]}</td>
                    <td>{$vo["goods_name"]}</td>
                    <td>{$vo["category_name"]}</td>
                    <td>{$vo["spec_name"]}</td>
                    <td>{$vo["goods_image"]}</td>
                    <td>{$vo["goods_serial"]}</td>
                    <td>{$vo["goods_state_name"]}</td>
                    <td>{$vo["goods_commend_name"]}</td>
                    <td>{$vo["goods_starttime_name"]}-{$vo["goods_endtime_name"]}</td>
                    <td>{$vo["goods_add_time_name"]}</td>
                    <td>
                        <a  class="btn btn-warning  btn-sm update" title="商品修改" data-url="{:U('Goods/update')}?goods_id={$vo['goods_id']}"><i class="fa fa-edit" aria-hidden="true"></i> </a>
                        <a  class="btn btn-danger   btn-sm delete"  title="商品删除" data-id="{$vo['goods_id']}" data-url="{:U('Goods/delete')}?goods_id={$vo['goods_id']}"> <i class="fa fa-trash-o fa-lg"></i></a>
                    </td>
                </tr>
            </volist>
        </tbody>
    </table>
    <nav class="Page textRight" aria-label="Page navigation">
        {$page}
    </nav>
</div>
<script type="application/javascript">
    (function($){
        $("#reset").click(function(){
            $('select[name="timeType"] option').each(function(){
                $(this).removeAttr("selected");
            });
            $('input[name="startTime"]').attr('value',"");
            $('input[name="endTime"]').attr('value',"");
            $('select[name="limit"] option').each(function(){
                    $(this).removeAttr("selected");
            });
            $('select[name="key"] option').each(function(){
                    $(this).removeAttr("selected");
            });
            $('input[name="content"]').attr('value',"");
        });
    })(jQuery)
</script>
<include file="Public/footer" />