<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
    <title>主页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css">

    <link rel="stylesheet" href="__PUBLIC__/Admin/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/base.css">
    <style type="text/css">
        .laydate_box, .laydate_box * {
            box-sizing:content-box;
        }
        .laydate-icon{
            height: 34px;
            line-height: 34px;
        }
    </style>
</head>
<body style="height: 100%; margin: 0">

<include file="Public/navLeft" />
<ol class="breadcrumb">
    <li ><a href="{:U('Index/index')}">主页</a></li>
    <li class="active">首页统计</li>
    <div class="quit">
        <span type="button" >管理员:毛何远</span>
        <a href="#">[退出]</a>
        <a type="button" href="" class="btn btn-primary"><i class="fa fa-refresh" aria-hidden="true"></i></a>
    </div>
</ol>

<div id="container" style="height: 80%;width: 80%;margin: 10px auto;"></div>
<script src="__PUBLIC__/Admin/plug/echarts/echarts.min.js"></script>
<script type="text/javascript">

    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    option = {
        title: {
            text: ''
        },
        tooltip: {},
        legend: {
            data:['常用功能统计']
        },
        xAxis: {
            data: ["会员","订单","分类","商品","管理员","袜子"]
        },
        yAxis: {},
        series: [{
            name: '常用功能统计',
            type: 'bar',
            data: [52, 21, 36, 14, 67, 90]
        }]
    };;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }

</script>
</body>

</html>