<include file="Public/header" />

<include file="Public/navLeft" />
<ol class="breadcrumb">
    <li><a href="{:U('Index/index')}">主页</a></li>
    <li>订单管理</li>
    <li class="active">订单列表</li>
    <div class="quit">
        <span type="button" >管理员:毛何远</span>
        <a href="#">[退出]</a>
    </div>
</ol>

<nav class="navbar navbar-default">
    <div class="container-fluid pdl0">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pdl0" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left pdl2">

                <div class="form-group">
                    <input type="text" class="form-control laydate-icon" placeholder="开始时间"
                           onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" name="startTime" value="{$request['startTime']}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control laydate-icon" placeholder="结束时间"
                           onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" name="endTime" value="{$request['endTime']}">
                </div>

                <div class="form-group">
                    <select name="order_status" class="form-control">
                        <option value=""  >请选择</option>
                        <option value="1" <if condition="$request['order_status'] eq 1 ">selected</if> >未支付</option>
                        <option value="2" <if condition="$request['order_status'] eq 2 ">selected</if> >已取消</option>
                        <option value="3" <if condition="$request['order_status'] eq 3 ">selected</if> >已支付</option>

                        <option value="4" <if condition="$request['order_status'] eq 4 ">selected</if> >已分拣</option>
                        <option value="5" <if condition="$request['order_status'] eq 5 ">selected</if> >已配送</option>
                        <option value="6" <if condition="$request['order_status'] eq 6 ">selected</if> >已完成</option>
                    </select>

                </div>


                <div class="form-group">
                    <select name="limit" class="form-control">
                        <option value=""  >请选择</option>
                        <option value="20" <if condition="$request['limit'] eq 20 ">selected</if> >20条</option>
                        <option value="30" <if condition="$request['limit'] eq 30 ">selected</if> >30条</option>
                        <option value="50" <if condition="$request['limit'] eq 50 ">selected</if> >50条</option>
                    </select>

                </div>
                <div class="form-group">
                    <select name="key" class="form-control">
                        <option value="">请选择</option>
                        <option value="order_sn"     <if condition="$request['key'] eq 'order_sn' ">selected</if>  >订单编号</option>
                        <option value="order_consignee_mobile"   <if condition="$request['key'] eq 'order_consignee_mobile' ">selected</if> >收货人手机号</option>
                        <option value="order_consignee_name" <if condition="$request['key'] eq 'order_consignee_name' ">selected</if>>收货人姓名</option>
                        <option value="order_consignee_address" <if condition="$request['key'] eq 'order_consignee_address' ">selected</if>>收货人地址</option>
                    </select>

                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="content" placeholder="内容" value="{$request['content']}">
                </div>
                <button type="submit" name="submit" value="submit" class="btn btn-primary">查找</button>
                <button id="reset" type="button" class="btn btn-default">重置</button>
                <button type="submit" name="submit" value="export" class="btn btn-default">导出</button>
            </form>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="ml5">
    <table class="table table-bordered table-hover ">
        <thead>
        <tr class="info">
            <th >编号ID</th>
            <th>订单编号</th>
            <th>订单价格</th>
            <th >支付类型</th>
            <th >支付状态</th>
            <th >订单状态</th>
            <th>优惠价格</th>
            <th>优惠券金额</th>
            <th>账户金额</th>
            <th>运费</th>
            <th>支付类型金额</th>

            <th>退货状态</th>
            <th>配送时间</th>
            <th>账户金额</th>
            <th>优惠价格</th>
            <th>收货人地址</th>
            <th>收货人手机</th>
            <th>收货人名称</th>
            <th>下单时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            <volist name="list" id="vo">
                <tr id="row{$vo['member_id']}">

                    <td>{$vo["order_id"]}</td>
                    <td>{$vo["order_sn"]}</td>
                    <td>{$vo["order_money"]}</td>
                    <td>{$vo["order_pay_type_name"]}</td>
                    <td>{$vo["order_pay_status_name"]}</td>
                    <td>{$vo["order_status_name"]}</td>
                    <td>{$vo["order_preferential_privilege"]}</td>
                    <td>{$vo["order_coupon_money"]}</td>
                    <td>{$vo["order_account_money"]}</td>
                    <td>{$vo["order_freight"]}</td>
                    <td>{$vo["order_pay_type_money"]}</td>
                    <td>{$vo["order_return_status_name"]}</td>
                    <td>{$vo["order_delivery_time_name"]}</td>
                    <td>{$vo["order_account_money"]}</td>
                    <td>{$vo["order_preferential_privilege"]}</td>
                    <td>{$vo["order_consignee_address"]}</td>
                    <td>{$vo["order_consignee_mobile"]}</td>
                    <td>{$vo["order_consignee_name"]}</td>
                    <td>{$vo["order_add_time_name"]}</td>
                    <td>
                        <a  class="btn btn-warning  btn-sm update" title="订单详细" data-url="{:U('order/info')}?order_id={$vo['order_id']}"><i class="fa fa-book" aria-hidden="true"></i> </a>
<!--                        <a  class="btn btn-danger   btn-sm delete"  title="会员删除" data-id="{$vo['member_id']}" data-url="{:U('member/delete')}?member_id={$vo['member_id']}"> <i class="fa fa-trash-o fa-lg"></i></a>
                    --></td>
                </tr>
            </volist>
        </tbody>
    </table>
    <nav class="Page textRight" aria-label="Page navigation">
        {$page}
    </nav>
</div>
<script type="application/javascript">
    (function($){
        $("#reset").click(function(){
            $('input[name="startTime"]').attr('value',"");
            $('input[name="endTime"]').attr('value',"");

            $('select[name="order_status"] option').each(function(){
                $(this).removeAttr("selected");
            });

            $('select[name="limit"] option').each(function(){
                $(this).removeAttr("selected");
            });
            $('select[name="key"] option').each(function(){
                    $(this).removeAttr("selected");
            });
            $('input[name="content"]').attr('value',"");
        });
    })(jQuery)
</script>
<include file="Public/footer" />